{% extends "layout.html" %}

{% block title %}
Latex Lähde App
{% endblock %}

{% block body %}

<h2>Latex Lähde App</h2>

<div>
  things still unfinished: {{ unfinished }}
</div>

<form action="/new_reference" method="POST">
  <label for="ref_type">Tyyppi:</label>
  <select id="ref_type" name="ref_type" required>
      <option value="">Select</option>
      <option value="book">Book</option>
      <option value="article">Article</option>
      <option value="inproceeding">Inproceeding</option>
  </select>
  <button type="submit">Submit</button>
</form>

<h3>Stored References</h3>
<ul>
  {% for book in books %}
    <li>
      <pre>
@book{ {{ book.citekey }},
  author = { {{book.author}} },
  title = { {{book.title}} },
  publisher = { {{ book.publisher }} },
  address = { {{ book.address }} },
  year = { {{ book.year }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for article in articles %}
    <li>
      <pre>
@article{ {{ article.citekey }},
  author = { {{article.author}} },
  title = { {{article.title}} },
  journal = { {{ article.journal }} },
  volume = { {{ article.volume }} },
  year = { {{ article.year }} }
  pages = { {{ article.pages }} }
    }
      </pre>
      <form action="/delete_entry/article/{{ article.citekey }}" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for inproceeding in inproceedings %}
    <li>
      <pre>
@inproceeding{ {{ inproceeding.citekey }},
  author = { {{inproceeding.author}} },
  title = { {{inproceeding.title}} },
  booktitle = { {{inproceeding.booktitle}} },
  publisher = { {{ inproceeding.publisher }} },
  pages = { {{ inproceeding.pages }} },
  year = { {{ inproceeding.year }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>

{% endblock %}