{% extends "layout.html" %}

{% block title %}
Latex Lähde App
{% endblock %}

{% block body %}

<h2>Latex Lähde App</h2>

<div>
  things still unfinished: {{ unfinished }}
</div>

<h3>Stored References</h3>
<ul>
  {% for book in books %}
    <li>
      <pre>
@book{ {{ book.citekey }},
  author = { {{book.author}} },
  title = { {{book.title}} },
  publisher = { {{ book.publisher }} },
  address = { {{ book.address }} },
  year = { {{ book.year }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>

<form action="/new_reference" method="POST">
  <label for="ref_type">Tyyppi:</label>
  <select id="ref_type" name="ref_type" required>
      <option value="">Select</option>
      <option value="book">Book</option>
  </select>
  <button type="submit">Submit</button>
</form>

{% endblock %}