{% extends "layout.html" %}

{% block title %}
Latex Lähde App
{% endblock %}

{% block body %}

<h2>Latex Lähde App</h2>

<div>
  things still unfinished: {{ unfinished }}
</div>

<ul>
  {% for todo in todos %}
    <li style="display: flex">
      <div>
        {{ todo }} 
      </div>
      {% if not todo.done %}
        <form action="/toggle_todo/{{ todo.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">mark as done</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<form action="/new_reference" method="POST">
  <label for="ref_type">Tyyppi:</label>
  <select id="ref_type" name="ref_type" required>
      <option value="">Select</option>
      <option value="book">Book</option>
  </select>
  <button type="submit">Submit</button>
</form>

{% endblock %}