<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stored References</title>
</head>
<body>
<h3>Stored References</h3>
<ul>
  {% for book in books %}
    <li>
      <pre>
@book{ {{ book.citekey }},
  author = { {{book.author}} },
  title = { {{book.title}} },
  publisher = { {{ book.publisher }} },
  address = { {{ book.address }} },
  year = { {{ book.year }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for article in articles %}
    <li>
      <pre>
@article{ {{ article.citekey }},
  author = { {{article.author}} },
  title = { {{article.title}} },
  journal = { {{ article.journal }} },
  volume = { {{ article.volume }} },
  year = { {{ article.year }} }
  pages = { {{ article.pages }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for inproceeding in inproceedings %}
    <li>
      <pre>
@inproceeding{ {{ inproceeding.citekey }},
  author = { {{inproceeding.author}} },
  title = { {{inproceeding.title}} },
  booktitle = { {{inproceeding.booktitle}} },
  publisher = { {{ inproceeding.publisher }} },
  pages = { {{ inproceeding.pages }} },
  year = { {{ inproceeding.year }} }
    }
      </pre>
    </li>
  {% endfor %}
</ul>
</body>
</html>